@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoCondensed-Regular.eot');
    src: url('fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('fonts/RobotoCondensed-Regular.ttf') format('truetype'),
        url('fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMed';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype'),
        url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype'),
        url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/Roboto-Italic.eot');
    src: url('fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff'),
        url('fonts/Roboto-Italic.ttf') format('truetype'),
        url('fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenBold';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenRegular';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSemiBold';
    src: url('fonts/OpenSans-SemiBoldItalic.eot');
    src: url('fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('fonts/OpenSans-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'Roboto';


}
.center{
	position: relative;
	width: 1170px;
	margin:0 auto;

}
.full_width{
	position: relative;
	float: left;
	width: 100%;
}
.full_height{
	position: relative;
	float: left;
	height: 100%;
}
.header{
	height: 102px;
	background-color: #ab0534;
   -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17); 
}
.header_in{
height: 100%;

}

.nav,
.menu_list
.menu_list li,
.menu_list li a
{
	position: relative;	  
	float: left;
}

.nav{
	margin-left: 100px;
}


.menu_list li a{
	font-size: 16px;
	color: #f2f7ff;
	padding: 0 19px;
	
}
.menu_list li a:hover{
	background-color: #f2f7ff;
	color: #ab0534;
	border-radius: 15px 50px;

}
.search_btn{
	position: relative;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 252px;
}
.basket_btn{
position: relative;
background-image: url(images/basket.png);
float: left;
height: 18px;
width: 18px;
background-repeat: no-repeat;
margin-left: 39px;
background-position: center;
}
.human_btn{
position: relative;
background-image: url(images/human.png);
float: left;
height: 18px;
width: 18px;
background-repeat: no-repeat;
margin-left: 50px;
background-position: center;
}

.register{
	margin-left: 9px;
	position: relative;
	color: #f2f7ff;
	font-size: 16px;
	float: left;
}
.list_in label{
margin-left: 9px;
position: relative;
color: #f2f7ff;
font-size: 16px;
float: left;
}

.logoutico{
position: absolute;
background-image: url(images/logoutico.png);
float: right;
height: 18px;
width: 18px;
margin-left: 8px;
background-repeat: no-repeat;
background-position: center;

}

.login{
position: relative;
margin-left:33px;
font-size: 16px;
color: #f2f7ff;
float: right;
}
.section{
	height: 975px;
	width: 100%;
}

.section_in{
	height: 100%;
}


.flexslider{
	border-radius: 0;
	margin:0;
	border:0;
	background-color:#ab0534; 
	 -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.flexslider > .slides > li,
.flexslider > .slides > li img{
	position: relative;
	float: left;
	width: 100%;
	height: 975px;
	
}
.section{
	height: 975px;
}
.slider_center{
	position: absolute;
}

.learn{
	    margin-top: 73px;
		margin-left: 163px;
        position: relative;
        float: left;

}
.learn label{
		font-family: 'OpenBold';
	    font-size: 60px;
	    color: #f4f8ff;
}

.lorem{

		position: relative;
		float: left;
		margin-top:17px;
		margin-left: 274px;
}
.lorem label {
	font-family: 'OpenRegular';
    color: #f4f8ff;
    font-size: 24px;

}

.button{
	position: relative;
	font-size: 16px;
	float: left;
	margin-top: 45px;
	margin-left: 450px;
    
}
.button button{
	font-family: 'OpenRegular';
	color: #f4f8ff;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    width: 270px;
    height: 67px;
}
.button button:hover {
  background-color: #f4f8ff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #ab0534;
  transform: translateY(-7px);
}


.fulltable{
	position:relative;
	width: 772px;
	height: 591px;
	background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url('images/fulltable.png');
    margin-left: 199px;
    margin-top: 70px;
}

.header{	z-index: 2;
}
.flexslider{	z-index: 1;}

.categories{
	height:696px;
	background-color: #f4f8ff;
}
.course{
	position: relative;
	float: left;
    margin-top: 74px;
}
	
.course label{
font-size: 36px;
font-family: 'OpenBold';
color: #000;
}
.borderbottom span {
border:1px solid #020202;
display: inline-block;
position: relative;
width: 165px;
margin-left: 503px;
margin-top: 17px;
}


.mainbox a{
	position: relative;
	float: left;
	height: 169px;
	width: 179px;
	margin-top: 103px;
    display: block;
    border:1px solid #a6a6a6;
}
.mainbox a:before{
	content:'';
	position: absolute;
    
}
.mainbox a:not(:first-child){
	margin-left: 15px;}
	
.exit{
	display: none;
}
.mainbox .one:hover{
	transition: 500ms;
	box-shadow: 20px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateX(-14px) translateY(-14px);


}
.mainbox .one:hover  .exit{
	display: inline;
}
.mainbox .one:hover .enter{
	display: none;
}

.mainbox .one img{
	margin-top: 53px;
}
.mainbox .two:hover{
	transition: 500ms;
	box-shadow: 0px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(-14px);


}
.mainbox .two:hover  .exit{
	display: inline;
}
.mainbox .two:hover .enter{
	display: none;
}

.mainbox .two img{
	margin-top: 48px;
}
.mainbox .three:hover{
	transition: 500ms;
	box-shadow: 0px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(-14px);


}
.mainbox .three:hover  .exit{
	display: inline;
}
.mainbox .three:hover .enter{
	display: none;
}

.mainbox .three img{
	margin-top: 45px;
}
.mainbox .four:hover{
	transition: 500ms;
	box-shadow: 0px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(-14px);


}
.mainbox .four:hover  .exit{
	display: inline;
}
.mainbox .four:hover .enter{
	display: none;
}

.mainbox .four img{
	margin-top: 50px;
}
.mainbox .five:hover{
	transition: 500ms;
	box-shadow: 0px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(-14px);


}
.mainbox .five:hover  .exit{
	display: inline;
}
.mainbox .five:hover .enter{
	display: none;
}

.mainbox .five img{
	margin-top: 52px;
}
.mainbox .six:hover{
	transition: 500ms;
	box-shadow: -20px 20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform:  translateX(14px)translateY(-14px);


}
.mainbox .six:hover  .exit{
	display: inline;
}
.mainbox .six:hover .enter{
	display: none;
}

.mainbox .six img{
	margin-top: 48px;
}
.mainbox  span{
	font-size: 18px;
	font-family: 'OpenBold';
	color: #333333;
}
.mainbox{
	margin-left: 5px;
}
.one span {
	margin-top: 17px;

}
.two span {
	margin-top: 21px;
}
.three span {
	margin-top: 17px;
}
.four span {
	margin-top: 20px;
}
.five span {
	margin-top: 16px;
}
.six span {
	margin-top: 15px;
}

.mainbox a:hover span{
	color: #f4f8ff;
}

.mainbox a:hover{
		background-color: #ab0534;
        transition: 500ms;
        border:none;
}

.mainbox2 a{
	position: relative;
	float: left;
	height: 169px;
	width: 179px;
	margin-top: 14px;
    border:1px solid #a6a6a6;
    animation: rotates  infinite;
}

.mainbox2 a:not(:first-child){
	margin-left: 15px;
}
.mainbox2{
	margin-left: 5px;
}
.mainbox2  span{
	font-size: 18px;
	font-family: 'OpenBold';
	color: #333333;
}
.mainbox2 a:hover span{
	color: #f4f8ff;
}
.mainbox2 a:hover{
		background-color: #ab0534;
        transition: 500ms;
        border:none;
}
.mainbox2 .seven:hover{
	transition: 500ms;
	box-shadow: 20px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translate(-14px) translateY(14px);


}
.mainbox2 .seven:hover  .exit{
	display: inline;
}
.mainbox2 .seven:hover .enter{
	display: none;
}

.mainbox2 .seven img{
	margin-top: 53px;
}
.seven span {
	margin-top: 17px;
}
.mainbox2 .eight:hover{
	transition: 500ms;
	box-shadow: 0px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(14px);


}
.mainbox2 .eight:hover  .exit{
	display: inline;
}
.mainbox2 .eight:hover .enter{
	display: none;
}

.mainbox2 .eight img{
	margin-top: 46px;
}
.eight span {
	margin-top: 14px;
}
.mainbox2 .nine:hover{
	transition: 500ms;
	box-shadow: 0px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(14px);


}
.mainbox2 .nine:hover  .exit{
	display: inline;
}
.mainbox2 .nine:hover .enter{
	display: none;
}
.mainbox2 .nine img{
	margin-top: 44px;
}
.nine span {
	margin-top: 17px;
}
.mainbox2 .ten:hover{
	transition: 500ms;
	box-shadow: 0px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(14px);


}
.mainbox2 .ten:hover  .exit{
	display: inline;
}
.mainbox2 .ten:hover .enter{
	display: none;
}
.mainbox2 .ten img{
	margin-top: 48px;
}
.ten span {
	margin-top: 18px;
}
.mainbox2 .eleven:hover{
	transition: 500ms;
	box-shadow: 0px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateY(14px);


}
.mainbox2 .eleven:hover  .exit{
	display: inline;
}
.mainbox2 .eleven:hover .enter{
	display: none;
}
.mainbox2 .eleven img{
	margin-top: 49px;
}
.eleven span {
	margin-top: 16px;
}
.mainbox2 .twelve:hover{
	transition: 500ms;
	box-shadow: -20px -20px 20px rgba(171, 5, 52, 0.4);
  color: #ab0534;
  transform: translateX(14px) translateY(14px);


}
.mainbox2 .twelve:hover  .exit{
	display: inline;
}
.mainbox2 .twelve:hover .enter{
	display: none;
}
.mainbox2 .twelve img{
	margin-top: 48px;

}
.twelve span {
	margin-top: 16px;
}
.topcourse{
	height:1471px;
	background-color: #ffffff;
}
.topcourselabel{
margin-top: 104px;
margin-left: -4px;

}
.topcourselabel label{
font-size: 30px;
font-family: 'RobotoBold';
color: #000;
position: relative;
float: left;


}
.topcourselabel2 label{
	font-size: 14px;
	margin-top: 24px;
	font-family: 'Roboto';
	font-size: 14px;
    position: relative;
    float: left;
    color: #808080;
    display: block;
}
.topcourselabel3 label{
margin-top: 10px;
font-size: 14px;
font-family: 'Roboto';
 color: #808080;
float: left;
position: relative;

}
.buttonviewmore{
	margin-top: -49px;
}
@import "compass/css3";

.buttonviewmore button{
	position:relative;
	float: right;
	padding: 17px 42px;
	border:1px solid #111111;
	font-size: 15px;
    font-family: 'RobotoMedium';
    border-radius: 40px;
    margin-right: 2px;
  box-shadow: 0 0 0 0 rgba(171, 5, 52, 0.7);
 cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

}
.buttonviewmore button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  background-color: #ab0534;
  color: #fefefe;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(171, 5, 52, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(171,5, 52 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(171, 5, 52, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(171, 5, 52, 0);}}

.photolinks li:not(:first-child){
	margin-left: 42px;
}
.photolinks label:hover{
	cursor: pointer;
}

.photolinks .firstlink a {
	position: relative;
	float: left;
	height: 465px;
	width: 360px;
	margin-top: 101px;
	box-shadow: 0px 1px 3px 0px rgba(27, 23, 26, 0.2); 
	overflow: hidden;
       transition: all 2s ease 0s;

}
.photolinks .secondlink a {
	position: relative;
	float: left;
	height: 465px;
	width: 360px;
	box-shadow: 0px 1px 3px 0px rgba(27, 23, 26, 0.2); 
	margin-top: 51px;
	overflow: hidden;
}
.photolinks .link img{
    position: relative;
    float: left;
    width: 100%;
    height: 181px;
    background-repeat: no-repeat;
}
.control{
width: 282px;
height: 85px;
}
.photolinks ul li .lispan1 .lispan1lbl{
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 28px;
    display: block;

}


.photolinks ul li .lispan1 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
}
.photolinks ul li .lispan2 .lispan2lbl{
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 28px;
    display: block;

}


.photolinks ul li .lispan2 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
}
.photolinks ul li .lispan3 .lispan3lbl{
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 28px;
    display: block;

}
.photolinks ul li .lispan3 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
    display: block;
}

.green-overlay{
	position: absolute;
    opacity: 0;
    visibility: hidden;
    background: rgba(171,5,52,0.6);
    height: 181px;
    width: 360px;
    display: block;
}
.cross{
	width: 55px;
	height:1px;
	border: 1px solid #fff;
}
.cross2{
	width: 1px;
	height:55px;
	border: 1px solid #fff;
}

.photolinks .lispan2:hover .green-overlay{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.photolinks .lispan1:hover .green-overlay{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.photolinks .lispan3:hover .green-overlay{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.photolinks .lispan3 .divspan2{
	position: relative;
	float: left;
	display: block;
}
.photolinks .lispan3 div span:nth-of-type(1){
margin-left: 30px;
margin-top: 27px;
color: #ab0534;
font-size: 23px;
display: block;
font-family: 'RobotoBold';

}


.photolinks .lispan3 div span:nth-of-type(2){
position: relative;
float: left;
margin-left: 32px;
color: #ed8000;
}

.photolinks .lispan2 .divspan2{
	position: relative;
	float: left;
	display: block;
}
.photolinks .lispan2 div span:nth-of-type(1){
margin-left: 30px;
margin-top: 27px;
color: #ab0534;
font-size: 23px;
display: block;
font-family: 'RobotoBold';

}


.photolinks .lispan2 .divspan2 span:nth-of-type(2){
position: relative;
float: left;
color: #ed8000;
margin-left: 32px;
}
.photolinks .lispan1 .divspan2{
	position: relative;
	float: left;
	display: block;
}
.photolinks .lispan1 div span:first-child{
margin-left: 30px;
margin-top: 27px;
color: #ab0534;
font-size: 23px;
display: block;
font-family: 'RobotoBold';
}


.photolinks .lispan1 div span:nth-of-type(2){
position: relative;
float: left;
margin-left: 32px;
color: #ed8000;
}
.photolinks img{
	
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
     transition: all 1s ease;
}
.photolinks img:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1); 


}
.popularcourse{
	height: 484px;
	background-color: #f4f8ff;
   
}

.disclbl label{
	position: relative;
	float: left;
	font-size: 30px;
	font-family: 'RobotoBold';
	margin-top: 101px;
	margin-left: -2px;
}

.inlbox a{
	position: relative;
	float: left;
	width: 375px;
	height: 100px;
	display: inline-block;
	margin-top: 94px;
	border-radius: 5px;
}
.inlbox a:not(:first-child) {
	margin-left: 23px;
}
.inlbox a{
	margin-left: -1px;
	transition: all 0.3s ease 0s;

}
.inlbox a :first-child{
	margin-left: -2px;
}
.inlbox a {
	text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.inlbox a label{
	font-size: 24px;
	font-family: 'RobotoBold';
	color: #fff;
}
.inlbox a:nth-of-type(1) {
	background-color: #c7166f;
}
.inlbox a:nth-of-type(2) {
	background-color: #6c16c7;
}

.inlbox a:nth-of-type(3) {
	background-color: #2516c7;
}
.inlbox a label:hover{
	cursor: pointer;
}
.inlbox a:first-child{
	background-image: url(images/toprated.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;

}
.inlbox a:nth-of-type(2){
	background-image: url(images/trending.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;


}
.inlbox a:nth-of-type(3){
	background-image: url(images/new.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;

}
.inlbox a:hover{
font-weight: 700 !important;
letter-spacing: 3px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
border-radius: 50px;

}
.bestseller{
	height: 1371px;
	background-color: #fff;
}

.photolinks .lispan1 .pinkstar span:nth-of-type(2){
position: relative;
float: left;
margin-left: 32px;
color: #ab0534;
}

.photolinks .lispan2 .pinkstar span:nth-of-type(2){
position: relative;
float: left;
margin-left: 32px;
color: #ab0534;
}

.photolinks .lispan3 .pinkstar span:nth-of-type(2){
position: relative;
float: left;
margin-left: 32px;
color: #ab0534;
}
.photolinks a:hover{
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}


.advantage{
	height: 1161px;
	background-color: #fff;
}

.archievelabel{
	position: relative;
	float: left;
	margin-top: 100px;
	margin-left: -2px;
}
.archievelabel label{
	font-size: 30px;
	font-family: 'RobotoBold';
}

.motolinks  a{
	position: relative;
	float: left;
	width: 375px;
	height: 325px;
	border:1px solid #eee;
}
.motolinks li:not(:first-child){
	margin-left: 20px;
}
.motolinks .flinks li{
	margin-top: 105px;
	position: relative;
	float: left;
}
.motolinks   img{
	position: relative;
	float: none;
	display: table;
	margin: 0 auto;
	margin-top: 69px;
    background-size: cover;
    background-repeat: no-repeat;
	}
.motolinks  label{
	position:relative;
	float: left;
	font-size: 18px;
	font-family:'RobotoBold';
	color: #000;
    margin-top: 33px;


}
.motolinks span{
	position: relative;
	float: left;
	font-size: 14px;
	font-family: 'Roboto';
	color: #4c4c4c;
	line-height: 22px;
    margin-top: 22px;
    margin-left: 65px;
}

.motolinks img{
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
     transition: all 1s ease;

}
.motolinks img:hover,
.motolinks img:focus
{
    transform:scale(1.25);
    -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -o-transform:scale(1.25);
    -ms-transform:scale(1.25); 
    transition: 0.5s;
}
.motolinks a:hover{
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
.motolinks .blinks li{
	margin-top: 20px;
	position: relative;
	float: left;
}


.testimonial{
	height: 1017px;
	background-color: #f7f9fa;
	
}
.maxlab{
	position: relative;
	float: left;
}
.maxlab label {
	position: relative;
	font-family: 'RobotoBold';
	font-size: 24px;
	color: #000;
    margin-top: 92px;
	display: block;
}

.maxlab span{
position: relative;
float: left;
font-size: 14px;
font-family: 'Roboto';
color: #666;
margin-top: 22px;
}
.maxlab2{
	position: relative;
	float: left;
}
.maxlab2 img{
	position: absolute;
	float: left;
	margin-top: 101px;
	opacity: 0.07;
}
.maxlab2 p {
	position: relative;
	float: left;
	margin-top: 141px;
	margin-left: 34px;
	font-size: 18px;
	color: #4d4d4d;
	line-height: 26px;
	font-family: 'RobotoItalic';
}
.video{
	position: absolute;
	right: 0;
}
.video video{
position: absolute;
right:0; 
margin-top: 275px;
margin-left: 9px;
border:10px solid #f7f9fa;
}
.maxlab3{
	position: relative;
	float: left;
}
.maxlab3 img{
	position: relative;
    float: left;
	margin-top: 53px;
	border-radius: 50%;
}
.maxlab3 label{
	position: relative;
	float: left;
	margin-top: 72px;
	margin-left: 15px;
	color: #000;
	font-size: 16px;
	font-family: 'RobotoMed';
  }

.maxlab4{
	position: relative;
	float: left;
}
  .maxlab4 span{
  	position: relative;
  	float: left;
  	font-size: 13px;
  	font-family: 'RobotoMed';
  	margin-left: 98px;
  	margin-top:-37px;
  }
  .maxlab5  {
  	position: relative;
  	float: left;
  	padding-left: 141px;
  	margin-top: 225px;
  	font-size: 30px;
  }

  .instructor{
  	height: 346px;
  	background-repeat: no-repeat;
 	background-image: url("images/applepen.png");

  }
  .applefill{
  	position: relative;
  	float: left;
  }
  .applefill label{
  	position: relative;
  	float: left;
  	font-size: 36px;
  	font-family: 'RobotoMedium';
  	margin-top: 84px;
   	color: 333333;

  }
  .applefill span{
  	position: relative;
  	float: left;
  	margin-top: 49px;
  }
  .applefill span input{
  	position: relative;
  	float: left;
  	width: 684px;
  	height: 67px;
  	font-size: 25px;
  	border-radius: 30px;
  	overflow: hidden;
  	padding-left: 60px;
  	padding-right: 205px;
  }
::-webkit-input-placeholder{
color: 000;
font-size: 16px;
font-family: 'Roboto';

}
.applefill button{
position: absolute;
background-color: #ab0534;
color: #fff;
font-size: 16px;
font-family: 'RobotoMed';
width: 202px;
height: 60px;
border-radius: 30px;
left: 482px;
bottom: 3.5px;
}
.footer{
	position: relative;
	float: left;
	height:488px;
	width: 100%;
	background-color: #292662;

}
.endfooter{
	position: relative;
	margin-top: 100px;
}


 .endfooter ul li:not(:first-child),.endfooter ul a li{
 	font-family: 'Roboto';
    color: #fefefe;
 }

 .a1 li:first-child,.a2 a:first-child li span,.b1 a:first-child li,.b2 a:first-child li,.b3 a:first-child li,.b4 a:first-child li{
 	font-family: 'OpenBold';
    color: #fefefe;

 }
 .a1 li:not(:first-child) {
margin-top: 10px;
 }
 .a1 li:not(:first-child):hover{
 	text-decoration: underline;
 	cursor: text;
 }
 .a1 li:first-child:hover{
 	cursor: none;
 }
 .a1 li:nth-of-type(2){
 	margin-left: -58px;
 }
 .a1{
	position: relative;
	float: left;
	width: 200px;
   }

.a2{
	position:absolute;
	width: 200px;
	top: 97px;
	float:none !important;

}
.a2 a:not(:first-child) {
margin-top: 6px;
 }
 .a2 li:hover{
 	text-decoration: underline;
 	cursor: text;
 }
.b1{
	position: relative;
	float: left;
	width: 104px;
	margin-left: 185px;

}
.b1 a:not(:first-child) {
margin-top: 18px;
 }


.b2{
	position: relative;
	float: left;
	width: 81px;
	margin-left: 121px;

}
.b2 a:not(:first-child) {
margin-top: 15px;
 }
 .b2 a:not(:first-child):hover li{
text-decoration: underline;
 }
 .b2 a:first-child:hover li{
 	cursor: none;
 }
 .b1 a:first-child:hover li{
 	cursor: none;
 }
 .b1 a:not(:first-child):hover li{
text-decoration: underline;
 }
.b3{
	position: relative;
	float: left;
	width: 81px;
	margin-left: 121px;

}
.b3 a:not(:first-child) {
margin-top: 15px;
 }
  .b3 a:not(:first-child):hover li{
text-decoration: underline;
 }
 .b3 a:first-child:hover li{
 	cursor: none;
 }
 .b4{
	position: relative;
	float: right;
	width: 100px;
	margin-right: 12px;

}
.b4 a:not(:first-child) {
margin-top: 15px;
 }
 .b4 a:not(:first-child):hover li{
text-decoration: underline;
 }
 .b4 a:first-child:hover li{
 	cursor: none;
 }
.c1{
	position:absolute;
    top: 300px;
}
.c1 a li,.c2 li {
    color: #fefefe;
    font-family: 'RobotoMed';
    font-size: 16px;

}

.c2{
	position: absolute;
    top: 300px;
    right: 0;

}
.maxder{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 55px;
}

.customer-logos{
	width: 100%;
}

.customer-logos,
.customer-logos li,
.customer-logos li img{
	position: relative;
	float: left;
}

.customer-logos li img{
	left: 50%;
	transform: translateX(-50%);
	filter:grayscale(100%);
	cursor: pointer;
}

.customer-logos li img:hover{
	filter:grayscale(0);
}

.slick-prev:before, 
.slick-next:before{
	color: #000;
}

.blog{
	height: 940px;
	background-color: #fff;
}




.photolinks5 li:not(:first-child){
	margin-left: 42px;
}
.photolinks5 label:hover{
	cursor: pointer;
}

.photolinks5 .firstlink5 a {
	position: relative;
	float: left;
	height: 465px;
	width: 360px;
	margin-top: 101px;
	box-shadow: 0px 1px 3px 0px rgba(27, 23, 26, 0.2); 
	overflow: hidden;

}
.photolinks5 .linkk img{
    position: relative;
    float: left;
    width: 100%;
    height: 181px;
    background-repeat: no-repeat;
}
.control{
width: 282px;
height: 85px;
}
.photolinks5 ul li .lispan11 label{
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 25px;
    display: block;

}


.photolinks5 ul li .lispan11 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
}
.photolinks5 ul li .lispan22 label{
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 25px;
    display: block;

}


.photolinks5 ul li .lispan22 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
}
.photolinks5 ul li .lispan33 label:nth-of-type(1){
    font-size: 17.97px;
	font-family: 'RobotoBold';
	color: #010101;
	float: left;
	position: relative;
    margin-left: 29px;
    margin-top: 25px;
    display: block;

}
.photolinks5 ul li .lispan33 p{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 25px;
	color: #4d4d4d;
	float: left;
	position: relative;
    margin-left: 30px;
    margin-top: 26px;
    display: block;
}
.photolinks5 img{
	
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
     transition: all 1s ease;
}
.photolinks5 img:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1); 


}
.firstlink5 .lispan33 .date3,.firstlink5 .lispan22 .date2,.firstlink5 .lispan11 .date1{
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	font-family:'RobotoBold';
	color: #666666;
    font-size: 14px;
}
.firstlink5 .lispan33 .date33,.firstlink5 .lispan22 .date22,.firstlink5 .lispan11 .date11{
	position: relative;
	float: right;
	margin-right: 90px;
	margin-top: 30px;
	font-family:'RobotoBold';
	color: #666666;
    font-size: 14px;
}
.readmore{
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 16px;
	font-family: 'RobotoBold';
	color: #ab0534;
}
.likecomment{
	position: relative;
	float: right;
	margin-top: 30px;
	color: #666;
	font-size: 14px;
	font-family: 'RobotoMed';
	margin-right: 75px;


}
.likecomment span:not(:first-child){
	position: relative;
	margin-left: 30px;
}


.joinbutton:hover{
color:#ab0534;
background-color: #fff;
border: 1px solid #F57F17;
box-shadow: 0px 5px 10px #427388;

}

.joinbutton:active{
	transform: scale(1.1);
	box-shadow: 0px 8px 20px #427388;
}


.readmore:hover{
	text-decoration: underline;
}